<div class="sidebar">
  <div class="container">
    <div>
      <span id="logo" routerLink="/" class="navbar-brand">
        <strong>HRMS <i class="fa fa-user" aria-hidden="true"></i> </strong>
      </span>
      <hr />
    </div>
    <ul>
      <li>
        <a routerLink="/"
          ><i class="fa fa-home" aria-hidden="true"></i> &nbsp; &nbsp;
          Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/doctor"
          ><i class="fa fa-home" aria-hidden="true"></i> &nbsp; &nbsp;
          Doctors</a
        >
      </li>
      <li>
        <a routerLink="/employee" routerLinkActive="activeClass"
          ><i class="fa fa-users" aria-hidden="true"></i> &nbsp;
          &nbsp;Employees</a
        >
      </li>
      <li>
        <a routerLink="/attendDetail" routerLinkActive="activeClass"
          ><i class="fa fa-table" aria-hidden="true"></i> &nbsp;
          &nbsp;Attendence</a
        >
      </li>
      <li>
        <a routerLink="/report" routerLinkActive="activeClass"
          ><i class="fa fa-credit-card-alt" aria-hidden="true"></i> &nbsp;
          &nbsp;Salary Report</a
        >
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="activeClass"
          ><i class="fa fa-cogs" aria-hidden="true"></i> &nbsp; &nbsp;
          Settings</a
        >
      </li>
      <li>
        <a routerLink="/holidays" routerLinkActive="activeClass"
          ><i class="fa fa-address-book" aria-hidden="true"></i> &nbsp; &nbsp;
          Holidays</a
        >
      </li>
    </ul>
  </div>
</div>
