<div class="cont"
style="  background-color: white;
padding: 10px;
padding-left: 5%;
margin-top: 10px;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 30px;"
>
<div class="container" style="color: #555; text-align: start; margin-top: 50px">
  <h2 style="color: brown;">ABOUT</h2>
  <hr />
  This is a simple website for human resources managment system (HRMS) where an HR can add new employees
  and edit a current one and delete the employee if he wants to. <br>
  Also he/she can submit a new record for the employee attendence or edit an existing one. <br>
  The HR has the full freedom to set the official holidays for the year and set the weekly vacations too. <br>
  Finally using the former details the HR can calculate and print the monthly salary report
  for the employees of the company.
  employee
  <br />
  <hr />
  <h3 style="color: brown">This is brought to you by: -</h3>
  <hr />
  <ul class="" style="list-style-type: circle; font-size: 20px;font-weight: bolder;">
    <li>Eman Magdi Akl</li>
    <li>Esraa Mahmoud Ahmed</li>
    <li>Mohamed Gaber Zakaria</li>
    <li>Reem Essam Mousa</li>
    <li>Sara Magdi Shams-Eldin</li>
    <li>Yehia Mohamed Akl</li>
  </ul>
</div>
</div>
